#### Data Processing with Python

In [ ]:
import pandas as pd

<hr>
###### IN CASE OF PROBLEMS IMPORTING PACKAGES

In [ ]:
# SOLUTION A: select this cell and type Shift-Enter to execute the code below.

%conda install openpyxl pandas

# Now restart the kernel (Menu -> Kernel -> Restart Kernel)

In [ ]:
# SOLUTION B: select this cell and type Shift-Enter to execute the code below.

%pip install openpyxl pandas

# Now restart the kernel (Menu -> Kernel -> Restart Kernel)

<hr>

# 2. Loading and Tidying Data

The remainder of this workshop will focus on data taken from the [GapMinder](https://www.gapminder.org/data/) project.

***

## 2.1 Excel workbook

Some of the data we will need later is in the Excel workbook `data_geographies_v1.xlsx`.

We can use the `read_excel` function to load data from the relevant sheet in the Excel workbook. This can read both xls and xlsx files and detects the format from the extension.

We only want to import a single sheet (named `list-of-countries-etc`) from this workbook.

In [ ]:
countries = pd.read_excel("data_geographies_v1.xlsx", sheet_name = "list-of-countries-etc")

The variable `countries` now points to a `DataFrame` object containing our data.

In [ ]:
countries.head()

##### *Exercise 2a*


Use manipulations of `countries` to complete the following tasks:


1. Find all the countries that are south of the equator.

2. Find the first eight African countries to join the UN.

3. Make an array of OECD country names, sorted from East to West.

***

## 2.2 CSV file

Next, let's load some data from a CSV ([comma separated values](https://en.wikipedia.org/wiki/Comma-separated_values)) file using `read_csv`:

In [ ]:
data = pd.read_csv("yearly_co2_emissions_1000_tonnes.csv")
data.head()

This is a straightforward numerical DataFrame which contains a lot of missing values (shown as `NaN`). 
The table shows annual CO<sub>2</sub> emissions from burning fossil fuels for each country.

We can investigate missing data using the [`isnull`](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.isnull.html) method, e.g.:

In [ ]:
data.isnull().head()

##### *Exercise 2b*

How many values are missing in `data`?

***

## 2.3 Tidying up!

Data scientists put a lot of emphasis on working with **tidy** data. What do we mean by that?

Tidy data follows the following three rules:

1. Each column is a variable
2. Each row is an observation (also known as a "case")
3. Each cell contains a single value.

When data is tidy, we can visualise and analyse it more easily.

However, most of the data tables that you encounter "in the wild" will not be tidy by this definition, so pandas provides functions to help reshape them into a tidy form.


##### *Exercise 2c*
Look at the CO<sub>2</sub> data. What are the variables in this dataset?

### [`melt`](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.melt.html)

We can use the `melt` method to reshape the data:

In [ ]:
df = data.melt(id_vars=['country'], var_name='year', value_name='kt')
df

`melt` works to *lengthen* the data table by collecting values from multiple columns.

We specify the columns to hold fixed (`country`) and provide the names of two new variables, one to hold the old column labels (`year`) and one to hold
the values collected (`kt`). 

`df` currently has a lot of useless rows.
We can use the [`dropna`](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.dropna.html) method to remove rows that contain missing data (`NaN`):

In [ ]:
df = df.dropna()
df

Let's store the tidied data in a new variable, `co2`:

In [ ]:
co2 = df

##### *Exercise 2d*

How much CO<sub>2</sub> was emitted globally  before 1900?

### Changing data type

There seems to be an issue with the new `year` column. We can check its data type:

In [ ]:
co2.dtypes

The `year` column is shown as having an `object` data type, not an `int` as expected. 

This is because the years have been derived from column names (strings) in the previous version of the table. Let's fix this before going any further:

In [ ]:
df = co2.copy()
df['year'] = df['year'].astype(int)
df.dtypes

That looks much better!

In [ ]:
co2 = df

##### *Exercise 2d (again)*

How much CO<sub>2</sub> was emitted globally  before 1900?

***

## 2.4 CSV without headers

Now that `co2` is in a tidy form, let's look at another example. `stats_1997.csv` is a CSV file containing GDP and population for various countries for the year 1997.

Actually this file is not in correct CSV format, because it is missing a header row. You can open it in Excel to verify this. However, we can still load it using `read_csv` as follows:

In [ ]:
data = pd.read_csv("stats_1997.csv", header=None)
data

You can see that the two columns in this file have been given the labels `0` and `1`.

This file looks a bit harder to tidy. 

##### *Exercise 2e*

What are the variables in this data set and what are the observations?

***

## 2.5 More tidying up!

### [`str.split`](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.Series.str.split.html)

First, we need to split the data from column `0` into two columns: one for the three-letter country code (the variable that was called `geo` in the Excel workbook), and one for the type of measurement (GDP or population).
We can do this with a Series method called `str.split`:

In [ ]:
df = data[0].str.split('-', expand=True)
df

Now let's fix the column names and add on the column with the values:

In [ ]:
df.columns = ['geo','statistic']
df['value'] = data[1]
df

### [`pivot`](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.pivot.html)

Now we need to separate the GDP and population values into two different columns. This is done using the `pivot` method:

In [ ]:
df2 = df.pivot(index='geo',columns='statistic',values='value')
df2

Now each column is a variable, each row is an observation, and each cell is a single value, so we have successfully tidied the data.

Notice that there are fewer rows than before; The `pivot` action is to *shorten* the length of the table

Notice also that the resulting DataFrame uses the data from the **geo** column as *row labels*. 

Pandas calls this set of labels an [`index`](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.index.html).

In [ ]:
df2.index

This will be important later, when we need to combine data from more than one DataFrame.

Let's store the tidied DataFrame in a new variable:

In [ ]:
stats97 = df2

##### *Exercise 2f*

In 1997, how many countries had a population less than 100,000?

***